<!--
  Generated template for the ChangeLanguagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'language' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'language' | translate }}</ion-label>
      <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
        <ion-option value="en">English</ion-option>
        <ion-option value="hi">हिन्दी</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
