<!--
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>
-->


<button ion-button class="back-btn" (click)="backto_startapp()" >
	<ion-icon name="md-arrow-round-back"></ion-icon>
</button>


<ion-content class="login-baground">
	<div class="login">
	<div class="logo">
		<img src="assets/img/logo-white.png" alt="Ionic logo">
	</div>

	<div class="welcome">
		<h4>{{ 'wlcm' | translate }},</h4>
		<p> {{ 'texLogin' | translate }}</p>
	</div>

	<form class="mrt" (ngSubmit)="onLogin()" [formGroup]="loginForm" novalidate>
		<ion-list no-lines>
			<ion-item class="login-input-container">
				<ion-label><ion-icon class="icon-style" name="md-person"></ion-icon></ion-label>
				<ion-input class="login-input" type="text" [(ngModel)]="login.username" placeholder="{{ 'email' | translate }}" formControlName="email" [class.error1]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<!--<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username is required
			</p>-->
			<div  *ngIf="( loginForm.get('email').hasError('minlength') || loginForm.get('email').hasError('pattern') ||loginForm.get('email').hasError('required') ) && loginForm.get('email').touched">
				<p class="errorLogin" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" padding-left>
					Please input your email
				</p>
				<p class="errorLogin" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched" padding-left>
					Email address invalid
				</p>
			</div>

			<ion-item class="login-input-container">
				<ion-label><ion-icon class="icon-style" name="md-lock"></ion-icon></ion-label>
				<ion-input class="login-input" placeholder="{{ 'password' | translate }}" type="password" [(ngModel)]="login.password" formControlName="password" [class.error1]="!loginForm.controls.password.valid && loginForm.controls.password.dirty" required>
				</ion-input>
			</ion-item>

			<div  *ngIf="( loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('maxlength') ||loginForm.get('password').hasError('required') ) && loginForm.get('password').touched">
				<p ion-text class="errorLogin" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" padding-left>
					Please input your password
				</p>
				<p ion-text class="errorLogin" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched" padding-left>
					Minimum 6 characters
				</p>
			<!--	<div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
					Maximum 12 characters
				</div>-->
			</div>
			<!--<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Password is required
			</p>-->
		</ion-list>

		<ion-row responsive-sm>
				<button class="login-btn" ion-button [disabled]="loginForm.invalid" type="submit" block>{{'signIn' | translate}}</button>
		</ion-row>
		<p class="frgot-pass">{{'forgotPass' | translate}}</p>
	</form>
	</div>
</ion-content>







