// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .login-baground{
    background-image: url("../assets/img/login-gradient.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .login{
    padding: 0px 40px;
    height: 100%;
    position: relative;
    .logo {
      padding: 20px 0;
      min-height: 180px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 200px;
      }
    }
    .welcome{
      h4{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }
      p{
        color: #fff;
        font-size: 16px;
        opacity: 0.7;
        margin: 5px 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-family: $font_light;
      }
    }
    .text-input::-moz-placeholder {
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .text-input:-ms-input-placeholder {
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .login-input-container {
      margin-bottom: 20px;
      box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.32);
      //margin-bottom: 0;
      border-bottom: 0;
      .item-inner {
        padding-right: 0;
        border-bottom: 0;
        box-shadow: none !important;
      }

    }
    .login-input {
      font-size: 16px;
      color: #333333;
      background: #ffffff;
      letter-spacing: 1px;
      font-family: $font_regular;
    }
    .icon-style{
      color: #666;
      font-size: 22px;
    }
    .login-btn {
      background-color: #2d33c7;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $white;
      padding: 10px 15px;
      height: 50px;
      border-radius: 0px !important;
      font-size: 12px;
      display: inline-block;
      margin-top: 20px;
      box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.32);
    }
    .frgot-pass{
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
      font-size: 13px;
    }

  }
  .errorLogin {
    color: rgb(246, 239, 10);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
  .back-btn{
    background: transparent !important;
    z-index: 9;
    box-shadow: none !important;
  }
}