<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item *ngIf="!thankYou">
    <ion-title item-left> {{ 'Quiz' | translate }}</ion-title>
    <ion-title item-right> {{que_no+1}}/{{setQueLength}}</ion-title>
    </ion-item>
    <ion-title *ngIf="thankYou"> {{ 'Quiz' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="gray-background" >
  <div class="quiz-container" *ngIf="!thankYou">
    <div class="quiz-question">
     {{quiz_data.quiz_question}}
    </div>
    <ul class="quiz-option-container">

      <li class="quiz-option"  [ngClass]="{'active-option' : button === 'a'}"  (click)="selectAnswer('a',q_id)">
        <div class="option-counter">a.</div>
        <div class="option-value">{{quiz_data.quiz_options.a}}</div>
    </li>

      <li class="quiz-option" [ngClass]="{'active-option' : button === 'b'}" (click)="selectAnswer('b')">
        <div class="option-counter">b.</div>
        <div class="option-value">{{quiz_data.quiz_options.b}}</div>
      </li>

      <li class="quiz-option" [ngClass]="{'active-option' : button === 'c'}" (click)="selectAnswer('c')">
        <div class="option-counter">c.</div>
        <div class="option-value">{{quiz_data.quiz_options.c}}</div>
      </li>

      <li class="quiz-option" [ngClass]="{'active-option' : button === 'd'}"  (click)="selectAnswer('d')">
        <div class="option-counter">d.</div>
        <div class="option-value">{{quiz_data.quiz_options.d}}</div>
      </li>
    </ul>

  </div>

  <div class="result-container" *ngIf="thankYou">
    <img src="assets/img/start-question.png">
    <h5>Great</h5>
    <p>You answered 8 out of 10 questions correctly. <br>To continue click on next quiz or click on home to go back</p>
    <div class="result-button-container">
      <button class="btn-purple" (click)="home()">Home</button>
      <button class="btn-pink">Next Quiz</button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button class="btn-pink btn-pink-full" (click)="nextQue()" [disabled]="button=='' " *ngIf="!thankYou">Next</button>
</ion-footer>