page-quiz {
  .quiz-container {
    width: 100%;
    height: 100%;
    padding: 30px;

    .quiz-question {
      font-family: OpenSans_Regular, sans-serif;
      color: $gray-21;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .quiz-option-container {
      margin: 0;
      padding-left: 0;
      list-style-type: none;

      .quiz-option {
        font-family: OpenSans_Light, sans-serif;
        background-color: $white;
        padding: 15px;
        border: 1px solid $gray-dd;
        color: $gray-33;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;

        .option-counter {
          flex: 0.5;
          margin-right: 5px;
        }

        .option-value {
          flex: 12;
        }

      }

      .active-option {
        /*background-image: url("../assets/img/login-gradient.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;*/
        background: rgb(251,1,73);
        background: linear-gradient(135deg, rgba(251,1,73,1) 0%, rgba(50,50,196,1) 100%);
        color: $white !important;
        font-weight: bold;
        -webkit-box-shadow: 4px 4px 30px -4px rgba(0,0,0,0.5);
        -moz-box-shadow: 4px 4px 30px -4px rgba(0,0,0,0.5);
        box-shadow: 4px 4px 30px -4px rgba(0,0,0,0.5);
        border-width: 0;
      }

    }

  }

  .result-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

    img {
      width: 100px;
      height: 100px;
    }

    h5 {
      font-size: 18px;
      font-family: OpenSans_Bold, sans-serif;
      text-align: center;
      color: $gray-21;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      font-family: OpenSans_Regular, sans-serif;
      text-align: center;
      color: $gray-66;
      margin-top: 0;
    }

    .result-button-container {
      .btn-purple, .btn-pink {
        max-width: 120px;
      }
      .btn-purple {
        margin-right: 10px;
      }
    }

  }

}