<!--<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle=" {{ 'home' | translate }}" tabIcon="custom-icon1" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{ 'asktheExpert' | translate }}" tabIcon="custom-icon2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{ 'Quiz' | translate }}" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{ 'myNotification' | translate }}" tabIcon="information-circle"></ion-tab>
</ion-tabs>-->



<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root"  tabIcon="custom-icon1"></ion-tab>
  <ion-tab [root]="tab2Root"  tabIcon="custom-icon2"></ion-tab>
  <ion-tab [root]="tab5Root"  tabIcon="custom-icon5"></ion-tab>
  <ion-tab [root]="tab3Root"  tabIcon="custom-icon3"></ion-tab>
  <ion-tab [root]="tab4Root"  tabIcon="custom-icon4"></ion-tab>

</ion-tabs>



<!--<super-tabs tabsPlacement="bottom" indicatorColor="dark" [selectedTabIndex]=mySelectedIndex toolbarColor="dark" toolbarBackground="light" badgeColor="dark" >
  <super-tab [root]="HomePage" icon="md-home" title="Home" ></super-tab>
  <super-tab [root]="AskTheExpertPage" icon="contacts" title="Education" ></super-tab>
  <super-tab [root]="QuizPage" icon="calendar" title="Calender" ></super-tab>
  <super-tab [root]="MyNotificationPage" icon="information-circle" title="Products" ></super-tab>
</super-tabs>-->
