page-start-app {
/*.cut-banner{
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.32);
  background-image: linear-gradient(to right top, #ff0048, #f0006d, #cf0092, #9800b2, #2d33c7);

  .logo{
    img{
      max-width: 200px;
    }
  }
}*/
  .cut-gredient{
    height: 250px;
    width: 100%;
    position: relative;

    img{
      height: 250px;
      width: 100%;
    }
    .app-logo{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 99999999;
      bottom: 0;
      width: 100%;
      top: 0;

      img{
        height: auto;
        width: 200px;
        margin-bottom: 30px;
      }

    }
  }
  .social-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 50px;

    p{
      font-family: $font-light;
      font-size: 18px;
      color: #000;
      opacity: 0.8;
    }
    .social-btn{
      background-color: #2d33c7;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $white;
      padding: 10px 15px;
      height: 50px;
      border-radius: 0px !important;
      font-size: 12px;
      display: inline-block;
      margin-top: 20px;
      box-shadow: none !important;
    }
    .create-act-btn {
      background-color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #ff0048;
      padding: 10px 15px;
      height: 50px;
      border-radius: 0px !important;
      font-size: 12px;
      display: inline-block;
      border: 1px solid #ff0048 !important;
      margin-top: 10px;
      box-shadow: none !important;
    }
  }
  .bottom-action{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 16px 15px;

    .act-login{
      float: left;
      margin: 0;
      font-size: 12px;
      color:#ff0048 ;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .try-app{
      float: right;
      margin: 0;
      font-size: 12px;
      color:#2d33c7 ;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
}
