<ion-content>
<!--  <div class="cut-banner">
    <div class="logo">
      <img src="assets/img/logo-white.png" alt="Ionic logo">
    </div>
  </div>-->

  <div class="cut-gredient">
    <img src="assets/img/login-cut-gradient.png" alt="Ionic logo">
    <div class="app-logo">
      <img src="assets/img/logo-white.png" alt="Ionic logo">
    </div>
  </div>

  <div class="social-buttons">
      <p>{{'s_text' | translate}}</p>

    <button class="social-btn" ion-button (click)="socilaLogin()" type="submit" block>{{'s_fb' | translate}}</button>
    <button class="create-act-btn" ion-button (click)="signup()" type="submit" block>{{'s_createAccount' | translate}}</button>

  </div>

  <div class="bottom-action">
    <p class="act-login" (click)="loginPage()">{{'s_account_login' | translate}}</p>
    <p class="try-app" (click)="tryApp()" >{{'tryApp' | translate}}</p>
  </div>
</ion-content>
