<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'My Profile' | translate }}</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="gray-background">
  <div class="profile-pic">
    <img src="assets/img/profile_pic.jpg">
  </div>
  <div class="profile-info">
    <h4 class="profile-name">Yogesh Deshpande</h4>
    <p class="profile-email">deshpandeyogesh90@gmail.com</p>
    <p class="profile-mobile">1234567890</p>
    <button class="btn-edit-profile" (click)="editProfile()">Edit Profile</button>
  </div>
</ion-content>
