page-my-profile {

  .profile-pic {
   position: relative;
    width: 100%;
    text-align: right;
    //height: 450px;

    img {
      object-fit: cover;
      width: 420px;
      height: 420px;
      //position: absolute;
      border-radius: 100%;
      /*top: -75px;
      right: -75px;*/
      margin-top: -75px;
      margin-right: -75px;
      max-width: none;
    }
  }

  .profile-info {
    padding: 0 30px 15px;
  }

  .profile-name {
    font-family: OpenSans_Bold, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: $gray-21;
    margin-bottom: 5px;
  }

  .profile-email {
    font-family: OpenSans_Regular, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $gray-66;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .profile-mobile {
    font-family: OpenSans_Light, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $text-gray;
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .btn-edit-profile {
    width: 150px;
    height: 50px;
    color: $white;
    font-family: OpenSans_Bold, sans-serif;
    font-size: 15px;
    background-color: $brand-purple;
  }


  @media screen and (max-width: 360px) {
    .profile-pic {
      //height: 380px;
      img {
        width: 350px;
        height: 350px;
        margin-top: -50px;
        margin-right: -50px;
      }
    }
    .profile-name {
      font-size: 20px;
    }
    .profile-email {
      font-size: 16px;
    }
    .profile-mobile {
      font-size: 16px;
    }
  }

  @media screen and (min-height: 800px){
    .profile-pic {
      img {
        width: 500px;
        height: 500px;
        margin-top: -50px;
        margin-right: -110px;
      }
    }
    .profile-name {
      margin-top: 30px;
    }
  }

}
