<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'home' | translate }}</ion-title>

    <ion-buttons class="mar-button" end (click)="notificationClick()">
      <button ion-button icon-only >
        <!--<ion-icon name="ios-person-add-outline"></ion-icon>-->
        <div class="header-icon">
          <img src="assets/img/icons/notification.png" alt="">
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-page gray-background">
    <div class="slider-container">


      <ion-slides  pager >

        <ion-slide  *ngFor="let banner of slider_data"  [style.backgroundImage]="'url(' +banner.imageUrl + ')' "
                    style="background-repeat: no-repeat;background-size: cover;">
          <div class="overlay"></div>
          <div class="banner-head">
            <h2>{{banner.title}}</h2>
            <p>{{banner.content}}</p>
          </div>
        </ion-slide>


      </ion-slides>


<!--      <ion-slides pager>

        <ion-slide style="background-image: url(assets/img/slider-1.jpg);background-size: cover">
          <div class="overlay"></div>
          <div class="banner-head">
            <h2>Ask questions anonymously</h2>
            <p>And our team of Doctor will answer <br> them in 24 hours</p>
          </div>
        </ion-slide>

        <ion-slide style="background-image: url(assets/img/slider-1.jpg);background-size: cover">
          <div class="overlay"></div>
          <div class="banner-head">
            <h2>Slide 1</h2>
          </div>
        </ion-slide>

        <ion-slide style="background-image: url(assets/img/slider-1.jpg);background-size: cover">
          <div class="overlay"></div>
          <div class="banner-head">
            <h2>Slide 1</h2>
          </div>
        </ion-slide>
      </ion-slides>-->
    </div>

    <div class="main-content">
      <div class="heading">
        <h4>{{'h_text1'| translate}} ?</h4>
      </div>
      <div class="row">
        <ion-col col-6 class="pd-box-right">
          <div class="ask-question">
            <img src="assets/img/ASK.jpg" alt="">
            <div class="overlay"></div>
            <div class="banner-head">
              <h5>{{'h_btn1'| translate}}</h5>
            </div>
          </div>
        </ion-col>
        <ion-col col-6 class="pd-box-left">
          <div class="ask-question">
            <img src="assets/img/quiz.jpg" alt="">
            <div class="overlay"></div>
            <div class="banner-head">
              <h5>{{'h_btn2'| translate}}</h5>
            </div>
          </div>
        </ion-col>
      </div>
      <div class="heading">
        <h4>{{'h_text2'| translate}}</h4>
      </div>



      <div class="row"  >
        <ion-col col-6 *ngFor="let health of healthdata">
          <ion-card class="card-style mar-10" (click)="infoStore(health)">
            <div class="storehouse">
              <div class="icon">
                <img [src]=" health.tips_image  || assets/img/icons/organic.png" alt="">
              </div>
              <h5>{{health.tips_title}}</h5>
            </div>
          </ion-card>
        </ion-col>
      </div>


    </div>

  </div>



</ion-content>