.home-page{
  padding: 10px;
  //height: 100%;
  .slider-container{
    border-radius: 10px;
    overflow: hidden;
    height: 165px;
    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
    }
    .banner-head{
      z-index: 10;
      position: absolute;
      font-weight: bolder;
      margin: 0 auto;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      h2{
        color: #ffffff;
        font-weight: 600;
        font-size: 21px
      }
      p{
        margin: 0;
        color: #ffffff;
        opacity: 0.8;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .swiper-pagination-bullet-active {
      background: #fff !important;
      opacity: 1 !important;
    }
    .swiper-pagination-bullet {
      border-radius: 100%;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #ffffff;
      opacity: .2;
      pointer-events: auto;
    }
    .home-pd{
      padding: 10px !important;
    }
  }

  .main-content{
    .heading{
      h4{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #666;
        letter-spacing: 1px;
      }

    }
    .ask-question{
      height: 80px;
      overflow: hidden;
      //background: #000;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
      }
      .banner-head{
        text-align: center;
        z-index: 10;
        position: absolute;
        font-weight: bolder;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        h5{
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 1px;
          font-weight: 600;
          width: 50%;
        }
        p{
          margin: 0;
          color: #ffffff;
          opacity: 0.8;
          font-size: 15px;
          font-weight: normal;
        }
      }

      img{
        width: 100%;
        height: 80px;
        object-fit: cover;
      }

      h5{
        color: #ffffff;
        margin: 0;
      }
    }

    .card-style{
      width: 100% !important;
      border-radius: 5px !important;
      flex: 1;
      margin: 0;
      .storehouse{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .icon{
         /* flex: 1;*/
          margin-right: 10px;
          img{
            min-width: 50px;
            width: 50px;
            height: 50px;
          }
        }
        h5{
          flex: 1;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
          line-height: 13px;
        }
      }
    }



  }
}
