<!--
  Generated template for the InformationStorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{infoStoreData.tips_title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-scroll scrollX="true" direction="x" class="custom-tabs">
  <div class="custom-tab active-tab">
    <img src="assets/img/tab-nutrition-img.png">
  </div>

  <div class="custom-tab">
    <img src="assets/img/tab-exercise-img.png">
  </div>

  <div class="custom-tab">
    <img src="assets/img/tab-vaccine-img.png">
  </div>

</ion-scroll>

<ion-content>

  <div class="info-content">
    <h5 class="tab-title">Nutrition</h5>
    <div class="title-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    </div>
    <div class="info-question-container">
      <div class="info-question">
        What is nutrition ?
        <ion-icon name="ios-arrow-forward" class="info-question-icon"></ion-icon>
      </div>
      <div class="info-question">
        Effects of not eating healthy
        <ion-icon name="ios-arrow-forward" class="info-question-icon"></ion-icon>
      </div>
      <div class="info-question">
        Highlighting importance of calcium & iron
        <ion-icon name="ios-arrow-forward" class="info-question-icon"></ion-icon>
      </div>
      <div class="info-question">
        Important Fact
        <ion-icon name="ios-arrow-forward" class="info-question-icon"></ion-icon>
      </div>
      <div class="info-question">
        For Additional Information
        <ion-icon name="ios-arrow-forward" class="info-question-icon"></ion-icon>
      </div>
    </div>
  </div>

  <!--<div *ngFor="let infoDetail of infoSubDetail" [innerHTML]="infoDetail.sub_detail_description">

  </div>-->

</ion-content>
