page-information-store {

  .scroll-content {
    padding-top: 115px;
  }

  .custom-tabs {
    position: absolute;
    background-color: $brand-pink;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    height: auto;
    top: 56px;
    z-index: 2;
    min-height: 100px;
  /*  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);*/
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.5);

    .scroll-content {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .scroll-zoom-wrapper {
      white-space: nowrap;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .custom-tab {
      background-color: $white;
      border-radius: 50%;
      padding: 12px;
      width: 60px;
      height: 60px;
      opacity: 0.5;
      box-shadow: 0 6px 15px 0 rgba(0,0,0,0.4);
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

    .active-tab {
      width: 70px;
      height: 70px;
      opacity: 1;
    }

  }

  .information-bg {

  }

  .info-content {

    .tab-title {
      font-family: OpenSans_Bold, sans-serif;
      color: $gray-21;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .title-description {
      font-family: OpenSans_Regular, sans-serif;
      color: $text-gray;
      font-size: 16px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
    }

    .info-question-container {

      .info-question {
        position: relative;
        padding: 15px 40px 15px 20px;
        font-family: OpenSans_Regular, sans-serif;
        font-size: 16px;
        color: $gray-33;
        border-bottom: 1px solid $gray-cc;
        display: flex;
        align-items: center;
        //justify-content: center;
      }

      .info-question-icon {
        position: absolute;
        right: 15px;
        color: $brand-pink;
      }

    }

  }

}

//@supports (-webkit-overflow-scrolling: touch) {
.platform-ios {
  /* CSS specific to iOS devices */
  page-information-store {
    .scroll-content {
      padding-top: 105px;
    }
    .custom-tabs {
      top: 44px;
      .scroll-content {
        padding-top: 15px;
      }
    }
  }
}