// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}


// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}


// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // Provide text `[text-{bp}]` attributes for aligning text based on screen size
    [text#{$infix}-center] {
      text-align: center;
    }

    [text#{$infix}-left] {
      text-align: left;
    }

    [text#{$infix}-right] {
      text-align: right;
    }

    [hidden#{$infix}-up] {
      display: none;
    }
  }

  @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
    [hidden#{$infix}-down] {
      display: none;
    }
  }
}
$primary: #FF5722;
$black: #000000;
$white: #ffffff;
//$dark-blue: #222833;
$dark-blue: #000000;
$pink: #ff3144;
//$pink: #620404;
$gray-21: #212121;
$gray-33: #333;
$gray-44: #444;
$gray-66: #666;
$text-gray: #999;
$text-gray-light: #b4b4b4;
$gray-f1: #f1f1f1;
$gray-dd: #ddd;
$gray-cc: #cccccc;
$gray-aa: #aaaaaa;
$gold: #c6a16a;
$cream: #fff8ee;
$green: #388E3C;
$red: #d32f2f;

$brand-purple: #354787;
$brand-pink: #fb0149;
$brand-blue: #3232c4;

/*.ion-icon{
  color:color($colors, primary, secondary);
}*/

//font
@font-face {
  font-family: OpenSans_Regular;
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: OpenSans_Light;
  src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: OpenSans_Bold;
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

$font_regular: "OpenSans_Regular", open_sans, arial;
$font_light: "OpenSans_Light", open_sans, arial;
$font_bold: "OpenSans_Bold", open_sans, arial;


body,h1,h2,h3,h4,h5,h6,p{
  font-family: $font_regular;
}

/*ion-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-size: 18px;

  &[ng-reflect-name="customicon"] {
    background-image: url('../assets/img/icons/home-button (1).png');
    &[ng-reflect-is-active="true"] {
      background-image: url('../assets/img/icons/home-button (1).png');
    }
  }
}*/
ion-icon {
  &[class*="custom-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    //background: currentColor;
    width: 25px;
    height: 25px;
  }
  // custom icons
  &[class*="custom-icon1"] {
    background-image: url('../assets/img/icons/home-button (1).png');
  }

  &[class*="custom-icon2"] {
    background-image: url('../assets/img/icons/myquestion.png');
  }

  &[class*="custom-icon3"] {
    background-image: url('../assets/img/icons/quizcustom.png');
  }
  &[class*="custom-icon4"] {
    background-image: url('../assets/img/icons/male.png');
  }
  &[class*="custom-icon5"] {
    background-image: url('../assets/img/icons/askquestion.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    opacity: 1 !important;
    position: fixed;
    bottom: 2px;

  }
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #000 !important;
  opacity: 0.6;
   transform: translate3d(0, 0px, 0);
}
.tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
  margin-top: 1px;
  min-width: 2.4rem;
  font-size: 2.4rem;
  color: #000;
  opacity: 0.25;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: 50% 150%;
  transform-origin: 50% 150%;
}
.gray-background{
  background: #eee !important;
}
.no-pd{
  padding: 0 !important;
}
.mrt{
  margin-top: 35px !important;
}
.wid{
  width: 100% !important;
}
.no-mrg{
  margin: 0 !important;
}
.mar-10{
  margin-right: 10px !important;
}
.border-radi{
  border-radius: 5px !important;
}
.pd-box-right{
  padding: 0px 4px 0px 0px !important;
}
.pd-box-left{
  padding: 0px 0px 0px 4px !important;
}
.header-icon{
  opacity: .5;
  width:20px;
}
.mar-button{
  margin: 0 18px;
}

.menu-label{
  color: #9499a1 !important;
  padding: 0;
  font-weight: 600;
}
.menu-icon{
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}


ion-header {
  ion-navbar{
    .toolbar-background{
      background: #ffffff !important;
    }
    .toolbar-title{
      text-align: left;
      color: #333333 !important;
    }
    .toolbar-icon-color{
      color:#333333 !important; ;
    }
    .bar-button-default-md , .bar-button-default-ios{
      color: #333333 !important;
    }
  }
}

.btn-purple, .btn-pink {
  width: 150px;
  height: 50px;
  color: $white;
  font-family: OpenSans_Bold, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-purple {
  background-color: $brand-purple;
}

.btn-pink {
  background-color: $brand-pink;
}

.btn-pink-full, .btn-purple-full {
  width: 100% !important;
}

.no-display {
  display: none !important;
}