<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title> {{ 'menu' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>

          <button ion-item menuClose  (click)="openPage1()">
              <ion-icon  item-start name="calendar" ></ion-icon>
              {{ 'home' | translate }}
          </button>


          <button ion-item menuClose  (click)="openPage2()">
              <ion-icon  item-start name="map" ></ion-icon>
              {{ 'myQuestion' | translate }}
          </button>

          <button ion-item menuClose  (click)="openPage3()">
              <ion-icon  item-start name="contacts" ></ion-icon>
              {{ 'asktheExpert' | translate }}
          </button>

          <button ion-item menuClose (click)="openPage4()">
              <ion-icon  item-start name="information-circle" ></ion-icon>
              {{ 'Quiz' | translate }}
          </button>

          <button ion-item menuClose (click)="openPage5()">
              <ion-icon  item-start name="information-circle" ></ion-icon>
              {{ 'myProfile' | translate }}
          </button>

        <button ion-item menuClose (click)="changeLanguage()">
          <ion-icon  item-start name="information-circle" ></ion-icon>
          {{ 'language' | translate }}
        </button>


          <button ion-item menuClose (click)="logOut()">
              <ion-icon  item-start name="log-out" ></ion-icon>
              {{ 'logout' | translate }}
          </button>



      </ion-list>



    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>

          <button ion-item menuClose  (click)="openPage1()">
              <ion-icon  item-start name="calendar" ></ion-icon>
              {{ 'home' | translate }}
          </button>

          <button ion-item menuClose  (click)="openPage2()">
              <ion-icon  item-start name="map" ></ion-icon>
              {{ 'myQuestion' | translate }}
          </button>

          <button ion-item menuClose  (click)="openPage3()">
              <ion-icon  item-start name="contacts" ></ion-icon>
              {{ 'asktheExpert' | translate }}
          </button>

          <button ion-item menuClose (click)="openPage4()">
              <ion-icon  item-start name="information-circle" ></ion-icon>
              {{ 'Quiz' | translate }}
          </button>

          <button ion-item menuClose (click)="openPage5()">
              <ion-icon  item-start name="information-circle" ></ion-icon>
              {{ 'myProfile' | translate }}
          </button>

          <button ion-item menuClose (click)="changeLanguage()">
              <ion-icon  item-start name="information-circle" ></ion-icon>
              {{ 'language' | translate }}
          </button>

          <button ion-item menuClose (click)="logOut()">
              <ion-icon  item-start name="log-in" ></ion-icon>
              {{ 'login' | translate }}
          </button>
   </ion-list>
    </ion-content>
  </ion-menu>
  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
