<!--
  Generated template for the MyQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'My Questions' | translate }}</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="gray-background">
  <div class="my-questions-empty-state">
    <img src="assets/img/my-questions-empty.png">
    <h5>My Questions</h5>
    <p>You still have not asked any <br>question to an expert</p>
    <button class="btn-purple" (click)="infoStoreClick()">Ask a Question</button>
  </div>
</ion-content>
