<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'asktheExpert' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<!--no-display   selected-category-->
<ion-content class="gray-background">
  <div class="ask-expert-container">
    <div class="step-1" *ngIf="step1">
      <h3 class="step-title">Ask your questions for free</h3>
      <p class="step-subtitle">Online doctor consultation simplified - <br>Ask for free & get answer in 48 hrs</p>
      <p class="select-category-text">Please select a category</p>
      <ul class="category-container"  >
        <li class="category"  *ngFor="let specialization of spec_Detail"
            [ngClass]="{'selected-category' : specializationID ===specialization.specialization_id }" (click)="spec_data(specialization.specialization_id )">{{specialization.specialization_name_en}}</li>
         </ul>

      <p class="step-count">Step 1 / 2</p>
      <ion-fab class="fab-btn-container">
        <button ion-fab class="btn-fab-next" (click)="step2()" [disabled]="specializationID=='' ">
          <ion-icon name="md-arrow-round-forward"></ion-icon>
        </button>
      </ion-fab>
    </div>
    <!--
    [(ngModel)]="userName"  [(ngModel)]="anonymousUser"-->

    <form novalidate (ngSubmit)="submitQue(user)" [formGroup]="user">
    <div class="step-2" *ngIf="!step1">
      <h3 class="step-title">Your Question</h3>
      <p class="step-subtitle">
        Type your question below.<br>
        Also select if you want to ask the<br>
        question anonymously
      </p>

      <textarea class="question-input"   rows="6" placeholder="Type your question here..."  formControlName="userQue"></textarea>

      <div class="anonymous-user-container">
        <div class="anonymous-text">
          <h5>Ask as anonymous user</h5>
          <p>Your name will be kept hidden from <br>the expert advisors</p>
        </div>

        <div class="anonymous-switch-container">
          <ion-item class="switch-item">
            <ion-toggle formControlName="anonymousUser"></ion-toggle>
          </ion-item>
        </div>
      </div>

      <p class="step-count">Step 2 / 2</p>
      <ion-fab class="fab-btn-container"  >
        <button ion-fab class="btn-fab-submit" [disabled]="user.invalid">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
      </ion-fab>
    </div>
    </form>
  </div>
</ion-content>
