ask-the-expert {

  .ask-expert-container {
    position: relative;
    width: 100%;
    height: 100%;

    .step-title {
      text-align: center;
      color: $gray-21;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .step-subtitle {
      font-family: OpenSans_Light, sans-serif;
      text-align: center;
      color: $gray-aa;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 16px;
    }

    .step-count {
      font-family: OpenSans_Bold, sans-serif;
      letter-spacing: 1px;
      font-size: 13px;
      text-transform: uppercase;
      color: $text-gray;
      text-align: center;
    }

    .fab-btn-container {
      /*bottom: 20px;
      right: 20px;*/
      bottom: 60px;
      right: 20px;
      position: fixed;
    }

    .btn-fab-next {
      background-color: $brand-pink;
      color: $white;
    }

    .btn-fab-submit {
      background-color: $green;
      color: $white;
    }

    .step-1 {
      padding: 20px;
      font-family: OpenSans_Regular, sans-serif;

      .select-category-text {
        font-family: OpenSans_Regular, sans-serif;
        font-weight: 600;
        color: $gray-66;
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .category-container {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 30px;
        padding-left: 0;

        .category {
          font-family: OpenSans_Regular, sans-serif;
          display: inline-block;
          letter-spacing: 0.5px;
          padding: 15px 10px;
          margin: 5px;
          background-color: $gray-dd;
          border: 1px solid $gray-cc;
          text-transform: uppercase;
          font-size: 13px;
          color: $gray-66;
          min-width: 40%;
          text-align: center;
        }

        .selected-category {
          background-color: $brand-blue !important;
          border-color: $brand-blue !important;
          color: $white !important;
          font-weight: 600;
        }

      }

    }

    .step-2 {
      padding: 40px 20px;

      .step-subtitle {
        margin-bottom: 20px;
      }

      .question-input {
        width: 100%;
        border: 1px solid $gray-dd;
        padding: 20px;
        resize: none;
        color: $gray-21;

        &::placeholder {
          color: $text-gray;
          font-style: italic;
          font-size: 15px;
          letter-spacing: 0.5px;
        }

      }

      .anonymous-user-container {
        display: flex;
        margin-top: 20px;

        .anonymous-text {
          flex: 3;

          h5 {
            margin-top: 0;
            margin-bottom: 5px;
            font-family: OpenSans_Regular, sans-serif;
            color: $text-gray;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
          }

          p {
            margin-top: 0;
            color: $gray-aa;
          }

        }

        .anonymous-switch-container {
          flex: 1;

          .switch-item {
            padding: 0 !important;
            background-color: transparent !important;

            .item-inner {
              border-width: 0 !important;
              padding-right: 0 !important;

              .toggle-checked {

                .toggle-icon {
                  background-color: #ffa4bd;
                }

                .toggle-inner {
                  background-color: $brand-pink;
                }

              }

              .toggle-ios {
                width: 36px;
                height: 14px;
                padding-bottom: 12px;

                .toggle-icon {

                }

                .toggle-inner {
                  top: -3px;
                  left: 0;
                  width: 20px;
                  height: 20px;
                }

              }

            }

          }

        }

      }

    }

  }

}
