// Styles for all of the user pages:
// Login, Signup, Support

  .signup-baground{
    background-image: linear-gradient(to right top, #ff0048, #f0006d, #cf0092, #9800b2, #2d33c7);
  }
  .signup{
    padding: 0px 40px;
    height: 100%;
    position: relative;
    .logo {
      padding: 20px 0;
      min-height: 100px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 200px;
      }
    }
    .welcome{
      h4{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }
      p{
        color: #fff;
        font-size: 16px;
        opacity: 0.7;
        margin: 5px 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-family: $font_light;
      }
    }
    .text-input::-moz-placeholder {
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .text-input:-ms-input-placeholder {
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: #666666;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font_regular;
      font-weight: 600;
    }

    .signup-input-container {
      margin-bottom: 20px;
      box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.32);
      //margin-bottom: 0;
      border-bottom: 0;
      .item-inner {
        padding-right: 0;
        border-bottom: 0;
        box-shadow: none !important;
      }

    }
    .signup-input {
      font-size: 16px;
      color: #333333;
      background: #ffffff;
      letter-spacing: 1px;
      font-family: $font_regular;
    }
    .icon-style{
      color: #666;
      font-size: 22px;
    }
    .signup-btn {
      background-color: #2d33c7;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $white;
      padding: 10px 15px;
      height: 50px;
      border-radius: 0px !important;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 20px;
      margin-top: 20px;
      box-shadow: 4px 6px 11px 0px rgba(0,0,0,0.32);
    }
    .frgot-pass{
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .error
    {
      color: rgb(246, 239, 10);
    }


  }



