<!--<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Signup</ion-title>
	</ion-navbar>
</ion-header>-->

<button ion-button class="back-btn" (click)="backto_startapp()" >
	<ion-icon name="md-arrow-round-back"></ion-icon>
</button>

<ion-content class="signup-baground">

	<div class="signup">
		<div class="logo">
			<img src="assets/img/logo-white.png" alt="Ionic logo">
		</div>

		<div class="welcome">
			<!--<h4>Welcome,</h4>-->
			<p>{{ 'sn_text' | translate }}</p>
		</div>

		<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
		<ion-list no-lines>
			<ion-item class="signup-input-container">
				<ion-label><ion-icon class="icon-style" name="md-person"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'firstName' | translate }}" class="signup-input" value="" formControlName="firstname" >
				</ion-input>
			</ion-item>
            <div no-lines *ngIf="( user.get('firstname').hasError('minlength') || user.get('firstname').hasError('required') ) && user.get('firstname').touched">
				<p class="error" *ngIf="user.get('firstname').hasError('required') && user.get('firstname').touched">
					firstname is required
				</p>
					<p class="error" *ngIf="user.get('firstname').hasError('minlength') && user.get('firstname').touched">
                        Minimum of 3 characters
                    </p>
			</div>

			<ion-item class="signup-input-container">
				<ion-label><ion-icon class="icon-style" name="md-person"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'lastName' | translate }}" class="signup-input" value="" formControlName="lastname" >
				</ion-input>
			</ion-item>

             <div no-lines *ngIf="( user.get('lastname').hasError('minlength') || user.get('lastname').hasError('required') ) && user.get('lastname').touched">
				<p class="error" *ngIf="user.get('lastname').hasError('required') && user.get('lastname').touched">
					lastname is required
				</p>
				<p class="error" *ngIf="user.get('lastname').hasError('minlength') && user.get('lastname').touched">
					Minimum of 3 characters
				</p>
			</div>

			<ion-item class="signup-input-container">

				<ion-label><ion-icon class="icon-style" name="md-mail"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'email' | translate }}" class="signup-input"	value="" formControlName="email">

				</ion-input>
			</ion-item>

			<div no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('email') ) && user.get('email').touched">
				<p class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
					email is required
				</p>

				<p class="error" *ngIf="user.get('email').hasError('email') && user.get('email').touched">
					Please enter valid email
				</p>

			</div>

			<ion-item class="signup-input-container">

				<ion-label><ion-icon class="icon-style" name="md-call"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'mobile' | translate }}" class="signup-input" value="" formControlName="mob">

				</ion-input>
			</ion-item>

				<div no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('minlength') || user.get('mob').hasError('maxlength'))&& user.get('mob').touched">
				<p class="error" *ngIf="user.get('mob').hasError('required') && user.get('email').touched">
					mobile no is required
				</p>
				<p class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('email').touched">
					Please enter valid mobile number
				</p>
				<p class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('email').touched">
					Please enter valid mobile number
				</p>
			</div>


			<ion-item class="signup-input-container">

				<ion-label><ion-icon class="icon-style" name="md-lock"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'password' | translate }}" class="signup-input" value="" formControlName="password" >

				</ion-input>
			</ion-item>
			<div no-lines *ngIf="( user.get('password').hasError('minlength') || user.get('password').hasError('required') ) && user.get('password').touched">
				<p class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
					password is required
				</p>
				<p class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
					Minimum of 6 characters
				</p>
			</div>


			<ion-item class="signup-input-container">
				<ion-label><ion-icon class="icon-style" name="md-lock"></ion-icon></ion-label>
				<ion-input placeholder="{{ 'confirmPassword' | translate }}" class="signup-input" value="" formControlName="confirmPassword"  >

				</ion-input>
			</ion-item>

			<div no-lines *ngIf="( user.get('confirmPassword').hasError('minlength') || user.get('confirmPassword').hasError('required') ) && user.get('confirmPassword').touched">
				<p class="error" *ngIf="user.get('confirmPassword').hasError('required') && user.get('confirmPassword').touched">
					confirmPassword is required
				</p>
				<p class="error" *ngIf="user.get('confirmPassword').hasError('minlength') && user.get('confirmPassword').touched">
					Minimum of 6 characters
				</p>
			</div>
		</ion-list>
		<div>
			<button ion-button class="signup-btn" block [disabled]="user.invalid">{{ 'create' | translate }}</button>
		</div>
	</form>
</div>


</ion-content>
