<!--
  Generated template for the StartQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'Start Quiz' | translate }}</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="gray-background">
  <div class="start-quiz-container">
    <img src="assets/img/start-question.png">
    <h5>Test what you read in the information<br> tab, by taking this quick quiz</h5>
    <p>A fun way of remembering what<br> you read earlier</p>
    <button class="btn-purple" (click)="startQuiz()">Take a Quiz</button>
  </div>
</ion-content>
