page-start-quiz {

  .start-quiz-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

    img {
      width: 100px;
      height: 100px;
    }

    h5 {
      font-size: 15px;
      font-family: OpenSans_Bold, sans-serif;
      text-align: center;
      color: $gray-21;
      margin-bottom: 5px;
    }

    p {
      font-family: OpenSans_Regular, sans-serif;
      text-align: center;
      color: $gray-66;
      margin-top: 0;
    }

  }

}
